.form {
  transition: 1s;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #0178d6;
  border-radius: 20px;

  &__title {
    font-family: Roboto;
    font-size: 40px;
    text-align: center;
  }

  &__input {
    background: #1c2024;
    color: #fff;
    font-size: 23px;
    width: 100%;
    margin: 20px 0;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.8s;

    &:focus {
      background: #292f35;
      border: 1px solid #fff;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    color: #fff;
  }
}
